extends layout

block content
  h1= title
  div#calculations_input
    form#calculations_input_form
      input(type='text' id="user_input")
      input(type='submit' id="user_submit" value="Calculate!")
  div#calculations_output   
    table#calculations_output_table     
      each calc in cache
        tr
          td= calc.calc
          td= calc.answer
  script(src="https://code.jquery.com/jquery-3.4.1.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js")
  script(src="/javascripts/calculatorClient.js")