body {
  padding: 50px;
  padding-top: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#header {
  color: #3b2a59;
  font-family: "Comfortaa";
  font-weight: 700;
  margin-top: 5px;
}

.table tr > td {
  padding: .5rem;
}

#user_input {
  margin-right: 5px;
}

.btn {
  padding: 5px;
}

img {
  height: 3em;
  padding-right: 1em;
}
